In [1]:
import pandas as pd
import altair as alt
import numpy as np

In [2]:
from vega_datasets import data as vega_data

In [4]:
alt.renderers.enable("notebook")

ValueError:
To use the 'notebook' renderer, you must install the vega package
and the associated Jupyter extension.
See https://altair-viz.github.io/getting_started/installation.html
for more information.

In [8]:
movies_df=pd.read_json(path_or_buf=vega_data.movies.url)

In [10]:
movies_df.head()

,Title,US_Gross,Worldwide_Gross,US_DVD_Sales,Production_Budget,Release_Date,MPAA_Rating,Running_Time_min,Distributor,Source,Major_Genre,Creative_Type,Director,Rotten_Tomatoes_Rating,IMDB_Rating,IMDB_Votes
0,The Land Girls,146083.0,146083.0,NaN,8000000.0,Jun 12 1998,R,NaN,Gramercy,None,None,None,None,NaN,6.1,1071.0
1,"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,Aug 07 1998,R,NaN,Strand,None,Drama,None,None,NaN,6.9,207.0
2,I Married a Strange Person,203134.0,203134.0,NaN,250000.0,Aug 28 1998,None,NaN,Lionsgate,None,Comedy,None,None,NaN,6.8,865.0
3,Let's Talk About Sex,373615.0,373615.0,NaN,300000.0,Sep 11 1998,None,NaN,Fine Line,None,Comedy,None,None,13.0,NaN,NaN
4,Slam,1009819.0,1087521.0,NaN,1000000.0,Oct 09 1998,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,None,62.0,3.4,165.0

In [11]:
type(movies_df)

pandas.core.frame.DataFrame

In [12]:
movies_df.shape

(3201, 16)

In [13]:
movies_df.columns

Index(['Title', 'US_Gross', 'Worldwide_Gross', 'US_DVD_Sales',
       'Production_Budget', 'Release_Date', 'MPAA_Rating', 'Running_Time_min',
       'Distributor', 'Source', 'Major_Genre', 'Creative_Type', 'Director',
       'Rotten_Tomatoes_Rating', 'IMDB_Rating', 'IMDB_Votes'],
      dtype='object')

In [14]:
def extract_year(value):
    return pd.to_datetime(arg=value, format="%b %d %Y").year

In [16]:
movies_df["Year"] = movies_df["Release_Date"].apply(func=extract_year)

In [17]:
movies_df[["Year","Release_Date"]].head()

   Year Release_Date
0  1998  Jun 12 1998
1  1998  Aug 07 1998
2  1998  Aug 28 1998
3  1998  Sep 11 1998
4  1998  Oct 09 1998